header{
    color: white;
    background-color: rgb(39, 39, 39);
    height: 50px;
}

header p{
    padding-left: 15%;
    padding-top: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

html, body{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 900px;
    height: 300px;
    margin: 50px auto;
}

.container .div-box{
    position: relative;
    width: calc(300px - 30px);
    height: calc(300px - 30px);
    background-color: lightgray;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
}

.container .div-laptopbox{
    position: relative;
    width: calc(300px - 30px);
    height: calc(300px - 30px);
    background-color: lightgray;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    max-height: 300px;
    overflow-y: scroll;
}

.container .div-bigbox{
    position: relative;
    width: calc(900px - 30px);
    height: calc(300px - 30px);
    background-color: lightgray;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
}

.p-title{
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.p-text{
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: left;
    margin: 0;
}

.p-money{
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: right;
    margin: 0;
}

.button {
    padding: 15px 70px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.button-green{
    background-color: rgb(35, 233, 94);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}

.button-yellow{
    background-color: rgb(230, 233, 51);
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
}

.button-blue{
    background-color: rgb(24, 80, 233);
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}

.button-red{
    background-color: rgb(223, 47, 41);
    padding: 15px 30px;
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    margin-bottom: 10px;
}

.dropdown {
    padding: 15px 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.feature{
    padding-left: 10%;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.features{
    padding-left: 10%;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
}

.laptop-image{
    width: 300px;
    height: 250px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

.laptop-title-description{
    width: 300px;
    float: left;
    padding-left: 10px; 
    margin-right: 10px;
    position: relative;
    top: 50px;
}

.laptop-title-description .laptop-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.laptop-title-description .laptop-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.laptop-price-buynow{
    float: right;
    padding-right: 10px;
    position: relative;
    top: 50px;
}

.laptop-price-buynow .laptop-price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 40px;
}

.laptop-price-buynow .laptop-buynow{
    background-color: aqua;
    padding: 15px 70px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}